body {
  background: #4ea1d3; }

.clock-border {
  margin: 100px auto;
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #454552;
  border-radius: 50%; }
  .clock-border .clock-face {
    position: relative;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background: #d8e9ef;
    border-radius: 50%; }
  .clock-border .mark {
    position: absolute;
    left: 98.5px;
    top: 0;
    height: 10px;
    width: 3px;
    background: #454552;
    transform-origin: 50% 101px;
    z-index: 2; }
  .clock-border .mark:nth-child(2) {
    transform: rotate(30deg); }
  .clock-border .mark:nth-child(3) {
    transform: rotate(60deg); }
  .clock-border .mark:nth-child(4) {
    transform: rotate(90deg); }
  .clock-border .mark:nth-child(5) {
    transform: rotate(120deg); }
  .clock-border .mark:nth-child(6) {
    transform: rotate(150deg); }
  .clock-border .mark:nth-child(7) {
    transform: rotate(180deg); }
  .clock-border .mark:nth-child(8) {
    transform: rotate(210deg); }
  .clock-border .mark:nth-child(9) {
    transform: rotate(240deg); }
  .clock-border .mark:nth-child(10) {
    transform: rotate(270deg); }
  .clock-border .mark:nth-child(11) {
    transform: rotate(300deg); }
  .clock-border .mark:nth-child(12) {
    transform: rotate(330deg); }
  .clock-border .hands {
    position: absolute;
    transform-origin: bottom center; }
  .clock-border .hr-hand {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    top: 25px;
    left: 97px;
    height: 75px;
    width: 6px;
    background: #454552; }
  .clock-border .min-hand {
    top: 15px;
    left: 98px;
    height: 85px;
    width: 4px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background: #454552; }
  .clock-border .sec-hand {
    top: 12px;
    left: 99px;
    height: 88px;
    width: 2px;
    background: #e85a71; }
  .clock-border .circle {
    position: absolute;
    top: 93px;
    left: 93px;
    height: 14px;
    width: 14px;
    background: #454552;
    border-radius: 50%; }
