$dark: #454552
$mid: #4ea1d3
$light: #d8e9ef
$special: #e85a71

body
	background: $mid

.clock-border
	margin: 100px auto
	position: relative
	width: 200px
	height: 200px
	border: 5px solid $dark
	border-radius: 50%

	.clock-face
		position: relative
		width: 200px
		height: 200px
		box-sizing: border-box
		background: $light
		border-radius: 50%

	.mark
		position: absolute
		left: 99px
		top: -1px
		height: 5px
		width: 1px
		background: $dark
		transform-origin: 50% 101px
		z-index: 2

	@for $i from 1 to 60
		.mark:nth-child(#{$i})
	    transform: rotate(6deg * $i)

	.mark:nth-child(5n)
		height: 10px
		width: 3px

	.hands
		position: absolute
		transform-origin: bottom center
		box-shadow: 1px 0px 1px 2px rgba(0, 0, 0, 0.1)

	.hr-hand
		border-top-right-radius: 100%
		border-top-left-radius: 100%
		top: 25px
		left: 97px
		height: 75px
		width: 6px
		background: $dark

	.min-hand
		top: 15px
		left: 98px
		height: 85px
		width: 4px
		border-top-right-radius: 50%
		border-top-left-radius: 50%
		background: $dark

	.sec-hand
		top: 12px
		left: 99px
		height: 88px
		width: 2px
		background: $special

	.circle
		position: absolute
		top: 93px
		left: 93px
		height: 14px
		width: 14px
		background: $dark
		border-radius: 50%
